{% extends "base.html" %}

{% block content %}
<h1>Добавление метки</h1>
<form action="" method="post">
    {{ form.hidden_tag() }}
    <p>
        {{ form.points.label }}<br>
        {{ form.points(class="form-control") }}<br>
        {% for error in form.points.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    {{message}}
</form>
{% endblock %}