{% extends "base.html" %}

{% block content %}
<h1>Объявления</h1>
{% if current_user.is_authenticated %}
    <a href="notice" class="btn btn-secondary">Добавить объявление</a>
{% endif %}
{% for item in news%}
<div class="col-md6 border rounded">
    <h2>{{item.title}}</h2>
    <div>
        {{item.content}}
    </div>
    <div>
        Хозяин - {{item.user.name}}, Дата создания - {{item.created_date}}, Адрес - {{item.points.split("/n")[0]}}
    </div>
    <div>
        <a href="/notice/watch/{{ item.id }}" class="btn btn-success">
            Смотреть
        </a>
    </div>
    {% if current_user.is_authenticated and current_user == item.user %}
    <div>
        <a href="/notice/{{ item.id }}" class="btn btn-warning">
            Изменить
        </a>
        <a href="/notice_delete/{{ item.id }}" class="btn btn-danger">
            Удалить
        </a>
    </div>
{% endif %}
</div>
{% endfor %}
{% endblock %}